<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Routing System</title>
    <title>Real time traffic Rerouting System</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-br from-blue-500 to-blue-400 min-h-screen flex flex-col">
    <header class="py-4 px-6 ">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-2xl font-bold text-white">Real-time traffic rerouting System</h1>
            <a href="/" class="inline-block relative group">
                <button id="planRouteBtn" class="bg-white text-blue-600 px-6 py-2 font-sans transition-all duration-300 group-hover:bg-gray-100">
                    Plan route
                </button>
                <div class="absolute -top-0.5 -right-0.5 -bottom-0.5 -left-0.5 border border-white"></div>
            </a>
        </div>
    </header>

    <main class="flex-grow flex items-center justify-center px-4 py-12">
        <div class="container mx-auto">
            <div class="bg-white rounded-lg shadow-2xl overflow-hidden max-w-md mx-auto p-8">
                <h2 class="font-['Nunito'] text-3xl font-bold mb-6 text-gray-800 text-center">Road Routing Result</h2>
                <p class="text-center text-gray-600 mb-6">No data found</p>
                <button 
                    class="bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg shadow hover:bg-blue-600 active:shadow-none transition-all mx-auto block"
                    onclick="window.history.back()">
                    Go Back
                </button>
            </div>            
        </div>
    </main>

    <footer class="py-5 px-4 md:px-8  mt-auto">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
            <div class="mb-4 md:mb-0">
                <h2 class="text-xl font-serif text-white">Team 4</h2>
            </div>
            <div class="text-sm text-gray-200">
                <div class="flex gap-4">
                    <span>© 2024</span>
                    <span>Smart Routing System Team</span>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>